.btnLg{
    width: 173.65px;
    background: #3cbf0a;
    line-height: 23px;
    font-weight: 700;
    font-size: 11.7337px;
    color: white;
    border: none;
    border-radius: 28.6474px;
    cursor: pointer;
    padding: 0px 14.3237px;
    gap: 14.32px;
    height: 24px;
    text-transform: capitalize;
}
